#wrapper{
        width: 100%;
        height: 100%
    }
    .bak {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        background-image: url("/index/images/register.jpg");
        background-repeat:round;
        background-attachment: fixed;
    }
    .head{
        width: 100%;
        height: 150px;
    }
    .head-header-rig{
        width: 180x;
        height: 50px;
        z-index: 100;
        position: absolute;
        top: 50;
        left: 500px;
        overflow: auto;
    }
    .head-header-lef{
        width: 180x;
        height: 50px;
        z-index: 100;
        position: absolute;
        top: 50;
        right: 500px;
        overflow: auto;
    }
    
    .login_btn{
        font-weight: 700;
        color: #666;
        height: 32px;
        width: 64px;
        border: 0;
        background-image: url("/index/images/reg_login.jpg");
    }
    .content{
        width: 100%;
        height: 600px;
        margin-left: auto;
        margin-right: auto;
    }
    .con_register{
        width: 700px;
        height: 500px;
        margin-left: 500px;
        margin-right: auto;
    }
    .reg_from_p{
        position: relative;
        clear: both;
        margin-bottom: 20px;
        height: 50px;
    }
    .from_lable_name{
        display: block;
        float: left;
        height: 42px;
        width: 65px;
        margin-right: 10px;
        line-height: 42px;
        font-size: 14px;
        color: #666;
        font-weight: 700;
        text-align: right;
    }
    .from_imput_name{
        display: block;
        position: relative;
        float: left;
        height: 42px;
        width: 328px;
        padding: 11px 10px;
        margin-right: 10px;
        border: 1px solid #ddd;
        font-size: 14px;
        color: #666;
        transition: .3s;
    }
    .from_imput_sex{
        display: block;
        position: relative;
        float: left;
        height: 40px;
        width: 20px;
        padding: 11px 10px;
        margin-right: 10px;
        border: 1px solid #ddd;
        font-size: 14px;
        color: #666;
        transition: .3s;
    }
    .reg_from_p0{
        margin: 0;
        padding: 0;
    }
    .from_spen_Tip{
        display: block;
        float: left;
        height: 100%;
        width: 250px;
        font-size: 10px;
        color:darkgray;
        line-height: 42px;
    }
    .reg_from_p_sub{
        position: relative;
        left: 75px;
    }
    .from_p_sub{
        float: left;
        width: 328px;
        height: 42px;
        border: 0;
        background-color: #3f89ec;

    }
    .frred{
    	color: #fc4343 !important;
    }
    .ture{
    	color: #5BC92E !important;
    }